.reviewUser {
  display:flex;
  margin-top:20px;
}
.reviewAvatar {
  margin-right:12px;
}
.reviewData {
  display:flex;
  align-items:center;
}
.reviewData p {
  padding:0 12px;
}
.stars {
  display:flex;
  margin:16px 0 28px 0;
}
.stars img {
  margin-right:10px;
}
@media screen and (max-width:320px) {
  .reviewData {
    display:block;
  }
  .stars {
    margin:16px 0 8px 0;
  }
}
